body {
    text-align: center;
    background-color: darkslategray;
}

.calc {
    margin: 0 auto;
    display: inline-block;
}
table, td, th {
    border: 1px solid lightgray;
    background-color:rgba(203, 236, 247, 0.568);
}

td {
    cursor: pointer;
    border-radius: 4px;
    /* color: dark */
}
.main-screen {
    text-align: right;
    height: 1.5em;
    border-top: none;
    margin-top: 0;
}
.small-screen, .memory {
    border-bottom: none;
    height:1em;
    margin-bottom: 0;
    text-align: right;
    font-size: 0.4em;
}


